<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>科技成果服务平台</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/css/person-list.css" th:href="@{/css/person-list.css}">
    <link rel="stylesheet" href="../static/css/patent_upload.css" th:href="@{/css/patent_upload.css}">
    <script src="../static/js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>
    <script th:src="@{/js/layer/layer.min.js}"></script>
    <style>
        .default .navbar.navbar2 {
            background: #fff;
            height: auto;
            padding-top: 0;
            margin-bottom: 0;
            margin-top: -10px;
        }
    </style>
    <style>
        a {
            text-decoration: none;
        }
    </style>
    <style>

        .go-top {
            position: fixed;
            bottom: 10px;
            right: 10px;
            display: none;
            cursor: pointer;
        }
        .left_title{
            background:#c5c5c7;
        }
        .left_title:hover{
            background:#337ab7;
        }

        .author-info {
            border-top: 1px #ddd solid;
            box-shadow: 0 -6px 6px #ddd;
        }

        .title-row {
            padding: 20px 0 0 0;
        }
        .author-info .title-row{
            padding-top: 50px;
        }
        .author-info .title-row h4 {
            font-family:helvetica ;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 30px;
            color: #404d5f;
        }
        .author-info .title-row h4:after {
            content: '';
            width: 60px;
            height: 2px;
            background: #0186d5;
            display: block;
            margin: 13px 0 0;
        }
        .author-info .author-card .pic>img{
            border: 1px solid white;
            width: 140px;
            height: 100%;
            margin-top: 36px;
            margin-left: 6px;
        }

        .author-info .author-card {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-bottom: 10px;
            border: 1px #f1e8e8 solid;
            border-radius: 4px;
            margin-bottom: 26px;

        }
        .author-card p {
            margin-bottom: 0;
            color: #666;
            margin-left: 20px;

        }
        .author-name p {
            line-height: 18px;
        }
        .author-info .author-card .pic{
            padding: 0px;
            margin-top: 0px;
        }
        .author-info>div>a{
            text-decoration: none;
            float: right;
        }
    </style>


    <!--<script type="text/javascript">
    $(document).ready(function(){
        var text = $("#hiddenp").text()
        persons = JSON.parse(text)
        len = persons.length
        var persons_div = $("#person_div")
        //根据长度动态生成person列表
        for(var i=0;i<len;i++){
            innerDiv = "<div class=\"media blog\">"
            innerDiv += "<div class=\"media-left\">"
            innerDiv += "<a href=\"/person\" style=\"padding-left: 50px;\"><img src="+'./pictures/'+(i+1)+'.jpg'+" class=\"img-reponsive\"></a>"
            innerDiv += "</div>"
            innerDiv += "<div class=\"media-body\">"
            innerDiv += "<a href=\"#\"><h3 style:\"text-transform: initial;\">"+persons[i]["Family Name(EN)"]+" "+persons[i]["First Name(EN)"]+"</h3></a>"
            innerDiv += "<div class=\"row m0 meta\">Publications : <a href=\"#\">"+persons[i]["Publications"].length+"</a> Projects : <a href=\"#\">115</a> Patents: <a href=\"\" >"+persons[i]["Patents"].length+"</a></div>"
            innerDiv += "<p><span class=\"glyphicon glyphicon-home\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;"+persons[i]["AffiliationA/角色1所属单位"]+persons[i]["AffiliationA.1/子单位"]+"</p>"
            innerDiv += "<p><span class=\"glyphicon glyphicon-briefcase\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;"+persons[i]["Talent Title人才称号"]+"</p>"
            if(persons[i]["Scientific Sector(EN)"]!=''){
                innerDiv += "<p><span class=\"glyphicon glyphicon-book\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;"+persons[i]["Scientific Sector(EN)"]+"</p>"
            }else{
                 innerDiv += "<p><span class=\"glyphicon glyphicon-book\" aria-hidden=\"true\"></span>&nbsp;&nbsp;&nbsp;"+persons[i]["Scientific Sector(ZH)研究方向"]+"</p>"
            }
            innerDiv += "</div></div>"
            persons_div.append(innerDiv)
        }
        divs = document.getElementsByClassName("media-body")
        for(var i=0;i<len;i++){
            (function(i){
                name_link = divs[i].children[0].children[0]
                name_link.onclick=function(){
                    id = i + 1
                    window.location.href='./person.html?id=' + id
                }
            })(i)
        }
    })
    </script> -->
</head>
<body class="default">
<section id="top" class="row top_bar">
    <div class="" style="margin-left: 60px;margin-right:60px;margin-top: 10px;">
        <div class="row ">
            <div class="fleft phone" style="padding-bottom: 10px;">
                <p><a href="#" style="
       text-decoration: none;
       color: #03536A;
   ">Intelligent Service Platform for Science and Technology Information
                    University</a></p>
            </div>
            <div class="fright">

                <div class="fleft" sec:authorize="!isAuthenticated()"><strong><a href="#" th:href="@{/user/login}" style="
          			text-decoration: none;
          			color: #03536A;" >Sign in</a></strong></div>
                <div class="fleft" sec:authorize="isAuthenticated()"><span style="
                    text-decoration: none;
                    color: #03536A;"><span class="glyphicon glyphicon-user"></span>&nbsp;<strong  sec:authentication="name"></strong></span></div>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-default navbar-static-top navbar2"style="background: #0186d5;">
    <div class="container" style="margin-left: -10px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a href="book-appointment.html" class="navbar-toggle visible-xs" data-toggle="modal" data-target="#appointmefnt_form_pop">Search</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main_nav">
            <a href="../static/index.html" th:href="@{/index.html}">
                <img id="img_icon" src="../static/assets/icon.png" th:src="@{/assets/icon.png}" alt=""></a>
            <ul  class="nav navbar-nav navbar-right">
                <li class="active"><a href="../static/index.html" th:href="@{/index}">Home</a></li>


                <!-- <li class="dropdown">
                     <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Research</a>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="direction/directionlist" th:href="@{/direction/directionlist}">Directions</a></li>
                         <li><a href="paper/paperlist" th:href="@{/paper/paperlist}">Papers</a></li>
                         <li><a href="project/projectlist" th:href="@{/project/projectlist}">Projects</a></li>
                     </ul>
                 </li>-->
                <li><a href="direction/directionlist" th:href="@{/paper/paperlist}">Paper</a></li>
                <li><a href="person/personlist" th:href="@{/person/personlist}">People</a></li>
                <li><a href="news/newslist" th:href="@{/news/newslist}">News</a></li>
                <li><a href="../static/aboutus.html" th:href="@{/aboutus}">About Us</a></li>
                <li><a href="resource/resourcelist" th:href="@{/resource/resourcelist}">Document</a></li>


                <!--<li><a href="../static/join.html" th:href="@{/join}">Join Us</a></li>-->
                <!-- <li class="hidden-xs book"><a href="#" data-toggle="modal" data-target="#appointmefnt_form_pop">Search</a></li> -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<div class="content container" style="min-height: 650px;">

    <div class="row">
        <h4 class="title">
            专利数据上传
        </h4>

        <form class="bs-example bs-example-form" role="form" method="post" action="upload">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~专利名称</span>
                <input type="text" id="name" name="name" class="form-control" placeholder="专利名称" required>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~申请人</span>
                <input type="text" id="author" name="author" class="form-control" placeholder="申请人">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~专利号</span>
                <input type="text" id="number" name="number" class="form-control" placeholder="专利号">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~摘要</span>
                <textarea type="text" id="abstr" name="abstr" class="form-control" placeholder="摘要" required></textarea>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~类型</span>
                <input type="text" id="type" name="patentType" class="form-control" placeholder="类型">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~日期</span>
                <input type="date" id="date" name="date" class="form-control">
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">~相关链接</span>
                <input type="text" id="url" name="patentURL" class="form-control" placeholder="相关链接">
            </div><br>
            <div class="btn_bar">
                <button class="btn btn-primary" id="btn_classification" type="button">自动分类</button>
                <button class="btn btn-primary" id="btn_upload" type="submit">提交</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    自动推荐的专利分类为:
                </h4>
            </div>
            <div class="modal-body" id="modal_cls_res">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="modal_btn_fill">
                    自动填入
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<footer class="row" style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 col-lg-4 footer_menuList">
                <div class="row menuList">
                    <ul class="firstOrderList nav" style="text-transform: initial">
                        <li><a href="#"><img style="width:40%;height: 30%;float: left;margin-left:40px ;" src="assets/wq4.png" alt=""></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-5 col-lg-5 footer_menuList">
                <div class="row menuList">
                    <ul class="firstOrderList nav" style="text-transform: initial">
                        <li><a href="">Jilin University</a></li>

                        <li><a href="">College of Software Engineering</a></li>
                    </ul>
                </div>
            </div>

            <div class="fright copyright col-sm-6 col-md-6 col-lg-12" style="text-align: center;margin-top: -22px;">&copy; <a href="index"> 吉林大学软件工程学院 </a></div>
        </div>
    </div>
</footer>
<a href="#top">
    <button type="button" class="btn btn-primary btn-lg go-top">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
</a>
<script>
    window.onscroll=function(){
        if($(window).scrollTop()>180){
            $('.go-top').show();
        }else{
            $('.go-top').hide();
        }
    }
</script>
<script src="js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>
<!--Bootstrap JS-->
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!--Owl Carousel-->
<script src="vendors/owl.carousel/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<script>
    $("#btn_classification").click(function () {
        layer.load(2);
        var name = $("#name").val();
        var abstr = $("#abstr").val();
        $.post("upload/classification",{
            name:name,
            abstr:abstr
        },function (res) {
            layer.closeAll('loading')
            $("#modal_cls_res").html(res)
            $("#myModal").modal("show")
        })
    })


    $("#modal_btn_fill").click(function () {
        $("#type").val($("#modal_cls_res").html())
        $("#myModal").modal("hide")
    })
</script>
</body>
</html>
